@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    hr{
        @apply border-slate-600/75 border
    }
    .content-header{
        @apply text-3xl mb-2 flex justify-between items-end
    }
    .flex-title {
        @apply flex items-center
    }
    .flex-title h1 {
        @apply pl-3
    }

    h2 {
        @apply text-2xl mb-2
    }
    h3 {
        @apply text-xl mb-1.5
    }
    .subtitle{
        @apply text-sm -mt-1 text-neutral-100/40
    }
    .content-div{
        @apply bg-slate-700 max-w-7xl mx-auto mt-3 rounded-lg drop-shadow-lg shadow-xl p-4 text-neutral-100;
    }
    .home-text {
        @apply my-3
    }
    .contact-buttons{
        @apply flex
    }

    .whatsapp-icon{
        color: #25d366;
        @apply scale-150 ml-5
    }
    .whatsapp-icon:hover{
        color: #128c7e;
        @apply scale-125
    }
    .mail-icon{
        color: white;
        @apply scale-150 ml-5
    }
    .mail-icon:hover{
        @apply text-neutral-400 scale-125
    }
    .github-icon{
        @apply text-white scale-150 ml-5
    }
    .github-icon:hover{
        @apply scale-125 text-neutral-400
    }


}